<div class="shadow-lg w-80 h-screen bg-bkg-3 flex flex-col justify-between">
  <div class="">
    <div class="w-50 h-50 px-12 p-12 text-content-1 bg-bkg-1 pointer-events-none font-bold text-xl">
      <span>Welcome, {{ curentUser.name }}</span>
    </div>
    <div class="m-2 pointer-events-none text-content-1"><span><!-- Menu --></span></div>
    <div class="h-fit flex justify-center grid">
      <button
        class="flex text-content-1 hover:bg-hover hover:text-content-2 p-2 my-1 w-60 items-center rounded-xl text-xl"
        *ngFor="let button of buttons"
        (click)="navigate(button.url)">
        <ng-icon size="1.5rem" name="{{ button.icon }}"></ng-icon>
        <p class="ml-2">{{ button.label }}</p>
      </button>
    </div>
  </div>
  <!-- dark mode toggler -->
  <div class="flex flex-row self-center">
    <div class="flex justify-center">
      <button
        class="text-3xl flex transition-transform hover:scale-125 align-middle shadow-sm rounded-full p-2 m-2 mb-4"
        (click)="toggleDarkMode()">
        <span *ngIf="isDarkMode" class="text-white"><ng-icon name="heroSun"></ng-icon></span>
        <span *ngIf="!isDarkMode"><ng-icon name="heroMoon"></ng-icon></span>
      </button>
    </div>
    <!-- Logout -->
    <div>
      <!-- logout button -->
      <div class="flex justify-center">
        <button
          class="text-3xl flex transition-transform hover:scale-125 align-middle shadow-sm rounded-full p-2 m-2"
          (click)="logout()">
          <span class="text-content-1"><ng-icon name="heroArrowLeftOnRectangle"></ng-icon></span>
        </button>
      </div>
    </div>
  </div>
</div>
