/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bkg: 99deg 0% 73%;
        --color-bkg-content: 99deg 0% 80%;
        --color-bkg-content-item: 99deg 0% 100%;
        --color-text: 0deg 0% 7%;
        --color-content: 217deg 32% 17%;
        --color-accent1: 288deg 95% 90%;
        --color-accent2: 168deg 85% 78%;
    }

    @media(prefers-color-scheme:dark) {
        :root {
            --color-bkg: 99deg 0% 18%;
            --color-bkg-content: 99deg 0% 37%;
            --color-bkg-content-item: 99deg 0% 57%;
            --color-text: 0deg 0% 92%;
            --color-content: 210deg 40% 98%;
            --color-accent1: 288deg 65% 90%;
            --color-accent2: 168deg 45% 78%;
        }
    }

    :root[data-theme="dark"] {
        --color-bkg: 99deg 0% 18%;
        --color-bkg-content: 99deg 0% 37%;
        --color-bkg-content-item: 99deg 0% 57%;
        --color-text: 0deg 0% 92%;
        --color-content: 210deg 40% 98%;
        --color-accent1: 288deg 65% 90%;
        --color-accent2: 168deg 45% 78%;
    }

    /*     :root [data-theme="dark"] {
        --color-bkg: 217deg 32% 17%;
        --color-content: 210deg 40% 98%;
        --color-accent1: 288deg 65% 90%;
        --color-accent2: 168deg 45% 78%;
    } */
}